<body style="border-color: chocolate;max-width: 1000px;align-items: center;margin: 0 auto;height:auto">
  <div>
      <mat-card class="example-container ">
          <h3>ระบบจัดการรถไฟฟ้า</h3>
          <mat-form-field class="example-full-width">
            <mat-label>ชื่อรถไฟฟ้า</mat-label>
            <mat-select (selectionChange)="clickSelect()" [(ngModel)]="selectedValue" name="bus" required>
              <mat-option *ngFor="let data of shiw" [value]="data._id">
                {{data.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>    
          <mat-form-field>
            <input type="text" id="name" matInput placeholder="ชื่อรถไฟฟ้า" [value]="Iselected?.name" required>
          </mat-form-field>
          <mat-form-field>
            <input  type="text" id="device_name" [disabled]="selectedValue" matInput placeholder="ชื่อเครื่อง" [value]="Iselected?.device_name" required>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>สายรถไฟฟ้า</mat-label>
            <mat-select id= "waypath" [(value)]="getPath" [(ngModel)]="selectedColor"  required>
              <mat-option *ngFor="let data of colors" [value]="data.value" >
                {{data.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field> 
          <input  type="text" hidden id="path"  matInput [value]="selectedColor" required>
          <div class="example-button-row">
            <button mat-raised-button [disabled]="selectedValue" color="primary" class="material-cust-medium-button"
              (click)="AddBusInfo()">เพิ่มข้อมูล</button>  
            <button mat-raised-button color="basic" [disabled]="!selectedValue" class="material-cust-medium-button"
              (click)="UpdateBusInfo()">แก้ไขข้อมูล</button>
            <button mat-raised-button [disabled]="!selectedValue" color="warn" class="material-cust-medium-button"
              (click)="DeleBusInfo()">ลบข้อมูล</button>
            <button mat-raised-button color="warn" class="material-cust-medium-button"
            (click)="ClearInfo()">รีเซ็ต</button>
          </div>
      </mat-card>
  </div>
</body>