.example-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-align:center;
  
  
  }
  
  .example-container > * {
    width: 50%;}

.mat-form-field {
    margin-right: 12px;
  }

  .example-form {
   
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

.example-button-row button,
.example-button-row a {
  padding: 0 6px 0 6px;
  margin: 6px 8px 6px 8px;
  min-width: 88px;
  border-radius: 3px;
  font-size: auto;
  text-align: center;
  text-decoration:none;
  border: none;
  outline: none;
}

.example-card {
  width: 100%;
  height:100%
}
