<body style="border-color: chocolate;max-width: 1000px;align-items: center;margin: 0 auto;height:auto">
  <div>
      <mat-card class="example-container ">
          <h3>ระบบจัดการป้ายรถไฟฟ้า</h3>
          <mat-form-field class="example-full-width">
            <mat-label>ชื่อป้าย</mat-label>
            <mat-select (selectionChange)="clickSelect()" [(ngModel)]="selectedValue" name="bus" required>
              <mat-option *ngFor="let data of shiw" [value]="data._id">
                {{data.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>   
          <mat-form-field>
            <input  type="text" id="name" matInput placeholder="ชื่อป้าย" [value]="Iselected?.name" required>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>สายของป้าย</mat-label>
            <mat-select [(value)]="getPath" [(ngModel)]="selectedColor"  required>
              <mat-option *ngFor="let data of Paths" [value]="data.value" >
                {{data.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field> 
          <input type="text" hidden id="path"  matInput [value]="selectedColor" required>
          <mat-form-field>
            <input  type="text" id="lat"  matInput placeholder="ละติจูด" [value]="Iselected?.lat" required>
          </mat-form-field>
          <mat-form-field>
            <input  type="text" id="lng" matInput placeholder="ลองจิจูด" [value]="Iselected?.lng" required>
          </mat-form-field>
          <mat-form-field>
            <input  type="text" id="decs" matInput placeholder="description" [value]="Iselected?.decs" required>
          </mat-form-field>
          <div class="example-button-row">
            <button mat-raised-button [disabled]="selectedValue" color="primary" class="material-cust-medium-button"
              (click)="AddBus_Stop()">เพิ่มข้อมูล</button>  
            <button mat-raised-button color="basic" [disabled]="!selectedValue" class="material-cust-medium-button"
              (click)="UpdateBus_Stop()">แก้ไขข้อมูล</button>
            <button mat-raised-button [disabled]="!selectedValue" color="warn" class="material-cust-medium-button"
              (click)="DeleBus_Stop()">ลบข้อมูล</button>
            <button mat-raised-button color="warn" class="material-cust-medium-button"
            (click)="ClearInfo()">รีเซ็ต</button>
          </div>
      </mat-card>
  </div>
</body>