<mat-card class="example-container">
    <mat-checkbox (change)="checkifelsewaypoint($event)" >แสดง Waypoint | </mat-checkbox>
    <mat-checkbox checked="true" (change)="checkifelsebusstop($event)" >แสดงป้ายรถไฟฟ้า</mat-checkbox>
    <p>จำนวนป้ายรถไฟฟ้ามีทั้งหมด : {{number_busstop}} ป้าย || จำนวนรถไฟฟ้าที่วิ่งอยู่ : {{number_bus}} คัน</p>
</mat-card>
<agm-map [disableDoubleClickZoom]="location.disableDoubleClickZoom"  [latitude]="location.latitude" [longitude]="location.longitude" [zoom]="location.zoom" [scrollwheel]="location.scrollwheel">
    <agm-marker *ngFor="let marker of location.markers" [iconUrl]="location.iconUrl" [latitude]="marker.lat" [longitude]="marker.lng" >
        <agm-info-window #infoWindow>
            <strong class="fontstyle">ชื่อป้าย: {{marker.name}} | สายสี: {{marker.path}}</strong><br>
            <p class="fontstyle">{{marker.decs}}</p>
          </agm-info-window>
    </agm-marker>
    <agm-marker *ngFor="let waymarker of location.waypoint_marker" [latitude]="waymarker.lat" [longitude]="waymarker.lng" >
    </agm-marker>
    <agm-marker [iconUrl]="'/assets/electric-bus.png'" *ngFor="let marker of location.bus_marker" [latitude]="marker.lat" [longitude]="marker.lng" >
        <agm-info-window #infoWindow>
            <strong class="fontstyle" >ชื่อรถ: {{marker.name}} | สายสี{{marker.path}}</strong>
          </agm-info-window>
    </agm-marker>
    
</agm-map>

