<mat-card class="example-container">
    <mat-form-field>
        <mat-label>DATE</mat-label>
        <input matInput type="datetime-local" placeholder="start date">
    </mat-form-field>
</mat-card>
<agm-map [disableDoubleClickZoom]="location.disableDoubleClickZoom"  [latitude]="location.latitude" [longitude]="location.longitude" [zoom]="location.zoom">
</agm-map>
