agm-map{
    height: 600px;
    width: auto;
}
.dropdown {
    position: relative;
    display: inline-block;
    z-index:1;
}
mat-form-field {
    margin-right: 12px;
}
.example-container {
    justify-content: center;
    text-align:center;
  }
.example-container-right {
    justify-content: right;
    text-align:right;
}