<nav mat-tab-nav-bar>
    <a mat-tab-link
       *ngFor="let link of navLinks"
       [routerLink]="link.path"
       routerLinkActive #rla="routerLinkActive"
       [active]="rla.isActive">
      {{link.label}}
    </a>
    <div style="margin-left: 52%;">
        <p>ระบบการจัดการข้อมูล</p>
    </div>
</nav>
<router-outlet></router-outlet>
